:root {
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --blue-color: #2196f3;
  --white-color: #fff;
  --black-color: #000;
  --black-color-link: #212121;
  --grey-color-1: #2f303a;
  --grey-color-2: #757575;
  --title-3: rgba(33, 33, 33, 1);
  --paragraph: rgba(117, 117, 117, 1);
  --button-filters: #f5f4fa;
  --button-filters-color: #212121;
}
body {
  font-family: var(--secondary-font);
  width: 1600px;
  background: var(--white-color);
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--black-color-link);
}
a:hover {
  color: var(--blue-color);
}
.linklogo {
  margin-left: 215px;
  padding-top: 18px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  /* identyczna z wysokością pudełka */
  letter-spacing: 0.03em;
  color: var(--blue-color);
}
.text {
  color: var(--black-color);
}
.navigation {
  font-family: var(--secondary-font);
  font-weight: 500;
  height: 16px;
  width: 254px;
  margin-left: 93px;
  margin-top: 10px;
  border-radius: 0px;
}
header {
  display: flex;
  background-color: var(--white-color);
}
li {
  font-family: var(--secondary-font);
  font-size: 14px;
}
.navigation-links li {
  list-style-type: none;
  display: inline;
  padding: 7px;
  line-height: 20px;
}
.email {
  width: 135px;
  height: 16px;
  margin-left: 371px;
  padding-top: 26px;
}
.phone {
  font-family: var(--secondary-font);
  color: var(--grey-color-2);
  margin-left: 50px;
  padding-top: 26px;
}
.one-section {
  margin-top: 6px;
  background-color: var(--grey-color-1);
  height: 600px;
  left: 0px;
  top: 80px;
}
h1 {
  width: 696px;
  height: 120px;
  margin-left: 452px;
  padding-top: 280px;
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.one-button {
  width: 200px;
  height: 50px;
  margin-left: 700px;
  top: 430px;
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
  box-shadow: 0px 3px 5px 0px rgb(0, 0, 0, 25%);
  border-radius: 5px;
}
.two-section {
  margin-left: 215px;
}
.two-section .about {
  display: flex;
  margin-top: 94px;
  list-style-type: none;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}
.two-section .title-3 {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-3);
}
.two-section .description {
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-align: left;
  justify-content: space-between;
  color: var(--paragraph);
}
.three-section {
  margin-top: 94px;
  margin-bottom: 70px;
}
.title-2 {
  text-align: center;
  color: var(--title-3);
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
}
.work {
  display: flex;
  width: 1170px;
  height: 386px;
  padding-left: 215px;
  list-style-type: none;
}
.work .image {
  padding: 30px;
}
.four-section {
  margin-top: 70px;
  padding-top: 5px;
  padding-bottom: 94px;
  background: rgba(245, 244, 250, 1);
}
.four-section .team-image {
  display: flex;
  list-style-type: none;
  padding-left: 215px;
}
.people {
  margin-top: 94px;
}
.avatar {
  padding: 0;
  margin: 30px;
  background: var(--white-color);
  display: block;
  text-align: center;
}
.avatar .name {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--title-3);
}
.avatar .workplace {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--paragraph);
}
footer {
  height: 252px;
  background: var(--grey-color-1);
}
footer .text-footer {
  color: var(--white-color);
}
.logo-footer {
  display: flex;
  padding-top: 60px;
  margin-left: 215px;
  margin-bottom: 20px;
}
address ul {
  list-style-type: none;
  padding: 0;
}
address a {
  color: var(--white-color);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-left: 215px;
}
.gps {
  margin-top: 20px;
}
.email-footer {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}
.phone-footer {
  width: 231px;
  height: 21px;
  margin-top: 9px;
  font-size: 14px;
  line-height: calc(24 / 14);
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* Portfolio CSS*/
.portfolio {
  width: 1170px;
  height: 1360px;
  margin-left: 239px;
  margin-bottom: 180px;
}
.portfolio ul {
  display: flex;
  text-align: center;
  list-style-type: none;
}
.filters {
  height: 54px;
  width: 572px;
  border-radius: 5px;
  padding-top: 70px;
  margin-left: 239px;
}
.filters li {
  margin-right: 8px;
}
.filtr {
  border: none;
}
.all {
  width: 77px;
  height: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  width: 121px;
  height: 38px;
  background: var(--blue-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.web {
  width: 49px;
  height: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-filters-color);
  width: 93px;
  height: 38px;
  background: var(--button-filters);
  border-radius: 4px;
}
.app {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  width: 114px;
  height: 38px;
  background: var(--button-filters);
  border-radius: 4px;
}
.design {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  width: 91px;
  height: 38px;
  background: var(--button-filters);
  border-radius: 4px;
}
.other {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  width: 121px;
  height: 38px;
  background: var(--button-filters);
  border-radius: 4px;
}
.galery-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--black-color-link);
  text-align: left;
  padding-bottom: 4px;
}
.galery-description {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--grey-color-2);
  text-align: left;
}
.galery-1 .galery-2 .galery-3 {
  display: inline-block;
}
.galery-1 .galery-2 .galery-3 li {
  width: 370px;
  height: 404px;
  padding: 0;
  margin: 30px;
  background: var(--white-color);
}
.picture {
  padding-right: 30px;
  padding-bottom: 30px;
}
.picture-1 {
  padding-right: 30px;
}
